body{
    width: 100%;
    height: 2000px;
}
div{
    box-sizing: border-box;
}

#cover{
    position: absolute;
    display: none;
    width: 100%;
    height: 300%;
    background: rgba(218, 218, 218, 0.3);
}
#frame{
    display: none;
    padding: 25px;
    border: 1px dotted #ff6600;
    border-radius: 15px;
    width: 40%;
    height: 45%;
    position: absolute;
    left: 30%;
    top: 27%;
    
    text-align: center;
    background: rgba(0, 225, 255, 0.774);
}
#frame_close{
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 45px;
    color: #ff6600;
    line-height: 22px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
#login{
    text-decoration: none;
}

input[type=text] {
    margin: 10px;
    width: 60%;
    border: 1px solid #ff6600;
    border-radius: 5px;
    font-size: 16px;
    background-image: url('../icons/user.jpg');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    outline: none;
}
input[type=password] {
    margin: 10px;
    width: 60%;
    border: 1px solid #ff6600;
    border-radius: 5px;
    font-size: 16px;
    background-image: url('../icons/pswd.jpg');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    outline: none;
}
input[type=submit]{
    margin: 10px;
    background: white;
    border: 1px solid #ff6600;
    border-radius: 5px;
    width: 80px;
    height: 43px;
}

input[type=radio]{
    opacity: 0;
    display: inline-block;
    position: relative;
    left: 19px;
}
input[type=radio] + span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../icons/radio1_1.png') no-repeat 0px 4px;
    background-size: 80%;
}
input[type=radio]:checked + span{
    background: url('../icons/radio1_2.png') no-repeat 0px 4px;
    background-size: 80%;
}

#slideHead{
    position: relative;
    display: inline-block;
    border: 1px solid #ff6600;
    border-radius: 5px;
    width: 200px;
    
}
#slideBox{
    display: none;
    position: absolute;
    width: 100%;
    background: #ff66001e;
    border-radius: 5px;
}

/* 颜色过渡 */
.box{
    width:150px; 
    height: 100px; 
    border: 1px solid red;
    border: 1px solid red;
    transition: width 1s, height 1s, background 1s;
}

.box:hover{
    width: 200px;
    height: 200px;
    background: rgb(0, 255, 255); 
}


/* 颜色动画 */
.color{
    animation: bkgdcolor 4s linear 1s infinite normal;
}
@keyframes bkgdcolor{
    0%{background: #ff6600}
    25%{background: #ff77ff}
    50%{background: #ff1188}
    75%{background: #fff000}
    100%{background: #ff6600}
}

